---
layout: splash
title: "Mike's WordPress Services"
excerpt: "Offering WordPress Services for small business owners and non-profits"
header:
  overlay_color: "#333"
---

<h2>Welcome, have a look around!</h2>
We currently offer two WordPress Services, <a href"http://mikefontenot.me/migration/basic">basic</a> or <a href="http://mikefontenot.me/migration/advanced">advanced</a> migration services.

<h2>Recent Thoughts</h2>
{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
