---
layout: splash
title: "Home"
excerpt: "...offering WordPress services for small business owners and non-profits"
header:
  overlay_color: "#333"

feature_row:
  - image_path:
    title: "WordPress Migration Services"
    excerpt: "These two options are our main WordPress service offerings.  We offer a [basic](http://mikefontenot.me/migration/basic) or [advanced](http://mikefontenot.me/migration/advanced) WordPress migration service."
    url: "http://mikefontenot.me/migrations"
    btn_label: "Migration Services"
    btn_class: "btn--inverse"
  - image_path:
    title: "Securing your WordPress Site"
    excerpt: "We would work to secure your WordPress powered site so you can enjoy what WordPress has to offer your business."
    url: "http://mikefontenot.me/maintenance"
    btn_label: "Secure Site"
    btn_class: "btn--inverse"
  - image_path: 
    title: "Ongoing Maintenance of your Site"
    excerpt: "This service would allow us to partner with you to secure and update your WordPress site in a more permanent capacity."
    url: "http://mikefontenot.me/maintenance#ongoing"
    btn_label: "Ongoing Maintenance"
    btn_class: "btn--inverse"
---

<h2>Welcome, have a look around!</h2>
We currently offer two services to migrate your current web site to WordPress, <a href="http://mikefontenot.me/migration/basic">basic</a> or <a href="http://mikefontenot.me/migration/advanced">advanced</a> migration services, as well as <a href="http://mikefontenot.me/maintenance">maintenance services</a> for your current WordPress powered site.


{% include feature_row %}

<h2>Recent thoughts...</h2>
{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
